  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      <a href="#">Terms</a>
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2019 <a href="https://www.nttpc.co.jp/english/">NTT PC Communications Incorporated</a>,</strong> All rights reserved.
  </footer>
