  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="/img/org-icon.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p><%= orgName %></p>
          <!-- Status -->
          <a href="#"><%= orgId %></a>
        </div>
      </div>

      <!-- sidebar-menu -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MENU</li>
        <!-- Optionally, you can add icons to the links -->
        <li<% if (title === 'Dashboard') { %> class="active"<% } %>><a href="#"><i class="fa fa-link"></i> <span>Dashboard</span></a></li>
        <li class="treeview <% if (title === 'Organization') { %>active<% } %>">
          <a href="#"><i class="fa fa-users"></i> <span>Organization</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li<% if (subtitle === 'Current Organization') { %> class="active"<% } %>><a href="/orgs">Current Organization</a></li>
            <li<% if (subtitle === 'Organization Users') { %> class="active"<% } %>><a href="/orgs">Organization Users</a></li>
            <li<% if (subtitle === 'Switch Organization') { %> class="active"<% } %>><a href="/switch-org">Switch Organization</a></li>
          </ul>
        </li>
        <li<% if (title === 'Product Catalog') { %> class="active"<% } %>><a href="/catalogs"><i class="fa fa-book"></i> <span>Product Catalog</span></a></li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>
